doctype html
html
    head
        meta(charset='utf-8')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')
        title #{title}
        style(type='text/css').
          * {
            font-family: "Roboto Slab";
          }
          
          h1 {
            text-transform: capitalize;
          }
    body
        h1 #{title}
        
        each textblock in textblocks
            p #{textblock}
            
        h2 Billeder
        
        if imageUrls.length
            each imageUrl in imageUrls
                p
                    a(href='#{imageUrl}', target='_blank') #{imageUrl}
        else
            p Ingen billeder i dag.
                
        // each image in images
        //     p
        //         img(src='#{image}')